# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# IDE/editor files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other unnecessary files
*.png
*.bak
*.tmp
